<!DOCTYPE html>
<html>
  <head>
  <meta property="og:title" content="CheckRev" />
     <meta property='og:image' content="<%= image_url('../assets/images/checkrev-img.png') %>"/>
     <meta property="og:description"
       content="A Yelp inspired fullstack application"
     />
     <meta property="og:url" 
       content="https://checkrev.herokuapp.com/"
     />

    <title>CheckRev</title> 
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.rest1 = "<%= image_url('rest-1.png') %>";
    </script>
    <script type="text/javascript">
      window.rest2 = "<%= image_url('rest-2.png') %>";
    </script>
    <script type="text/javascript">
      window.rest3 = "<%= image_url('rest-3.png') %>";
    </script>
    <script type="text/javascript">
      window.rest4 = "<%= image_url('rest-4.png') %>";
    </script>
    <script type="text/javascript">
      window.logo = "<%= image_url('checkrev-logo.png') %>";
    </script>
    <script type="text/javascript">
      window.chef = "<%= image_url('background.png') %>";
    </script>
    <script type="text/javascript">
      window.construction = "<%= image_url('construction.jpg') %>";
    </script>
    <script type="text/javascript">
      window.home = "<%= image_url('splash-home.png') %>";
    </script>
    <script type="text/javascript">
      window.pro = "<%= image_url('splash-pro.png') %>";
    </script>
    <script type="text/javascript">
      window.rest = "<%= image_url('splash-rest.png') %>";
    </script>
    <script type="text/javascript">
      window.redCarpet = "<%= image_url('red-carpet.png') %>";
    </script>
    <script type="text/javascript">
      window.linkedin = "<%= image_url('linkedin.png') %>";
    </script>
    <script type="text/javascript">
      window.github = "<%= image_url('github.png') %>";
      window.fiveStar = "<%= image_url('five-star-rating.png') %>";
      window.fourStar = "<%= image_url('four-star-rating.png') %>";
      window.threeStar = "<%= image_url('three-star-rating.png') %>";
      window.twoStar = "<%= image_url('two-star-rating.png') %>";
      window.oneStar = "<%= image_url('one-star-rating.png') %>";
      window.defaultStar = "<%= image_url('default-star-rating.png') %>";
      window.fullStar = "<%= image_url('full-star-rating.png') %>";
      window.halfStar = "<%= image_url('half-star-rating.png') %>";
      window.autoRepair = "<%= image_url('splash-auto-repair.png') %>";
      window.coffee = "<%= image_url('splash-coffee.png') %>";
      window.cleaning = "<%= image_url('splash-cleaners.png') %>";
      window.hotel = "<%= image_url('splash-hotel.png') %>";
      window.landscaping = "<%= image_url('splash-landscaping.png') %>";
    
    </script>
    <script src="https://kit.fontawesome.com/413d5d2739.js" crossorigin="anonymous"></script>
          
      
      
      


    <script src="https://kit.fontawesome.com/413d5d2739.js" crossorigin="anonymous"></script>
    <%# <script>window.logo = url('app/assets/images/logo.png')</script> %>
    <% if current_user  %>
      <script type="text/javascript">
        window.currentUser = {
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>",
          "firstName": "<%= current_user.first_name %>"
        };
      </script>
    <% end %>
    
  </head>  

  <body>
    <%= yield %>
  </body>
</html>
